$white: #fff;
$box-shodow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$text-color: #333333;



.bestsellers {

    height: 380px;
    display: flex;
    align-items: center;
    margin-inline: 35px;
    max-width: 1440px;
    margin-top: 30px;
    overflow-x: auto;
    margin-inline: 30px;
    margin: 0 auto;




    .bestseller-card {
        min-width: 286px;
        height: 330px;
        background-color: $white;
        box-shadow: $box-shodow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        border-radius: 6px;
        margin-left: 30px;

        .img-area {
            width: 183px;
            height: 210px;

            img {
                margin-left: 30px;
                padding-bottom: 10px;
                width: 100%;


            }
        }

        h1 {
            font-family: 'Poppins', sans-serif, ;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            max-width: 200px;
            color: $text-color;
            margin-left: 30px;
        }

        .price-area {
            display: flex;
            margin-top: 10px;


            p {
                font-family: 'Poppins', sans-serif, ;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin-left: 30px;

                span {
                    text-decoration: line-through;
                    font-family: 'Poppins', sans-serif, ;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    margin-right: 20px;
                    color: red;
                }

            }


        }
    }
}

.bestsellers::-webkit-scrollbar {
    display: none;
}

.card {

    background: #fff;

    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    min-width: 286px;
    height: 330px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    border-radius: 6px;
    margin-left: 30px;

    .image {
        img {
            max-width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    .content {
        padding: 20px 10px;
    }
}

.card.is-loading {


    .image,
    h2,
    p {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .image {
        height: 200px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    h2 {
        height: 40px;
        margin-bottom: 4rem;
    }

    p {
        width: 40%;
        height: 25px;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}



@media only screen and (max-width: 600px) {
    .bestsellers {
        order: 2;
    }
}